<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~ * Created by Rakshit Saxena
  ~ * Copyright (c) 2021 . All rights reserved.
  ~ */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hymn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hymn">
        <activity
            android:name=".userinterface.activities.SoldProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.MyOrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.AddEditAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.CartListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.AddProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.DashboardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".userinterface.activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity android:name=".userinterface.activities.BaseActivity" />
        <activity
            android:name=".userinterface.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar" />
        <activity
            android:name=".userinterface.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hymn.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userinterface.activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>